/* customized by tedor*/
body {
  margin: 0 auto;
  max-width: 35em;
  padding: 0.5em 0.5em;
}

/* responsive images */
img {
    width: 100%;
    height: auto;
}

a {
  color: #048ABF;
  text-decoration: none;
}
